html{
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

h1{
    text-align:center;
    margin:0 0;
    border-bottom:3px dashed #000;
}

h2 {
    padding: 0 10px;
    margin-bottom: 0;
}

p {
    text-size:1.5rem;
    padding: 0 10px;
}

a : visited {
    text:#fff;
}