html{
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

#titleHeader{
    padding-top: 10px;
}

body {
    font-family: 'Lora', serif;
    margin:0 0;
    margin-top:60px;
    padding:0 30px;
    background: #35393F;
    color:#fff;
}

nav ul{
    background: #202020;
    display: flex;
    align-items: column;
    justify-content: space-around;
    list-style-type: none;
    padding:15px 0;
    margin:0;
    position: fixed;
    top:0;
    right:0;
    width:100%;
}

nav ul a {
    text-decoration:none;
    color: #fff;
}

nav ul a:hover {
    text-decoration:underline;
}

footer ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    align-items: column;
    justify-content: space-around;
    background-color: #202020;
    color:#fff;
}

article {
    border: #AEAEAE solid 1.2px;
    margin-bottom: 10px;
    padding: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}

table{
    width:100%;
}

td{
    text-align: center;
}

table, th, td {
  border: 1px solid black;
}

/* Media Query Example */

@media screen and (max-width:600px){
    
    
    
}